<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wallagram">

    <uses-feature android:name="android.software.live_wallpaper"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/walla_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/walla_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallaGram">
        <activity
            android:name=".Activities.PreviewActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.DurationActivity"
            android:theme="@style/Theme.WallaGram" />
        <activity
            android:name=".Activities.MultiImageActivity"
            android:theme="@style/Theme.WallaGram" />
        <activity
            android:name=".Activities.PostPrefActivity"
            android:theme="@style/Theme.WallaGram" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>