<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wallagram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/walla_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/walla_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallaGram">
        <activity android:name=".MultiImageActivity"></activity>
        <activity
            android:name=".DurationActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LocationActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".Connectors.ForegroundService"
            android:enabled="true" />

        <receiver
            android:name=".Receivers.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="false"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActiveActivity"
            android:theme="@style/Theme.WallaGram"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>